In [1]:
import pandas as pd
from datetime import timedelta
tweet_inter=pd.read_csv(r'tweet_inter.csv')

In [2]:
tweet_inter.head()

,Unnamed: 0,content,query,tweetDate,twitterProfile
0,3875,#Inter #milan #serieta #derby #hakancalhanogl...,#lukaku,2020-02-09 19:30:25+00:00,https://twitter.com/DUNDARKESAPLI
1,4039,‚ö´üîµ #InterMilan üî¥‚ö´\n\nStasera chi ha pi√π chance...,#lukaku,2020-02-09 19:35:03+00:00,https://twitter.com/bwinItalia
2,3736,Manchester United Ex Derby #DerbyMilano #Young...,#lukaku,2020-02-09 19:36:01+00:00,https://twitter.com/AR__alfadhli
3,4837,¬©Ô∏è | EPIC\n\nStasera in campo con la fascia da...,#brozovic,2020-02-09 19:38:56+00:00,https://twitter.com/Inter
4,3999,ŸÑŸàŸÉÿßŸÉŸà ÿ≠ŸäŸÉŸàŸÜ ŸÜÿ¨ŸÖ ÿßŸÑŸÖÿ®ÿßÿ±ÿßÿ© ÿßŸÑŸäŸàŸÖ ... \n\n#Inter...,#lukaku,2020-02-09 19:40:11+00:00,https://twitter.com/abugrasa

In [3]:
tweet_inter['tweetDate'] = pd.to_datetime(tweet_inter['tweetDate'], format = '%Y-%m-%dT%H:%M:%S', utc = True)

In [4]:
tweetLukaku = tweet_inter[tweet_inter['content'].str.contains("#Lukaku")]
tweetLukaku1 = tweet_inter[tweet_inter['content'].str.contains("#lukaku")]
tweetLukaku2 = tweet_inter[tweet_inter['content'].str.contains("Romelu")]
lukaku=tweetLukaku.append([tweetLukaku1,tweetLukaku2])
lukaku.drop_duplicates(inplace=True)
lukaku.shape

(253, 5)

In [5]:
lukaku['tweetDate'] = lukaku['tweetDate'] + timedelta(hours = 1)
lukaku['orarioTweet'] = lukaku['tweetDate'].dt.strftime('%H:%M')
tweetlukakuminuto = lukaku.groupby('orarioTweet').count()
tweetlukakuminuto.reset_index(inplace = True)

In [6]:
tweetlukakuminuto.head()

  orarioTweet  Unnamed: 0  content  query  tweetDate  twitterProfile
0       20:30           1        1      1          1               1
1       20:35           2        2      2          2               2
2       20:36           1        1      1          1               1
3       20:40           1        1      1          1               1
4       20:43           1        1      1          1               1

In [7]:
# tweetlukakuminuto.to_csv('tweetlukakuminuto1.csv')