In [1]:
import pandas as pd
from datetime import timedelta
milan=pd.read_csv(r'tweetMilan.csv')

In [4]:
milan.head()

,Unnamed: 0,content,query,tweetDate,twitterProfile
0,5733,âš«ðŸ”µ #InterMilan ðŸ”´âš«\n\nZlatan #Ibrahimovic Ã¨ l'u...,#ibrahimovic,2020-02-09 19:30:14+00:00,https://twitter.com/bwinItalia
1,5592,#Inter #milan #serieta #derby #hakancalhanogl...,#ibrahimovic,2020-02-09 19:30:25+00:00,https://twitter.com/DUNDARKESAPLI
2,5316,Hoohooo #Ibrahimovic https://t.co/6ZNcPzbxIp,#ibrahimovic,2020-02-09 19:32:40+00:00,https://twitter.com/ShadyMuhamed
3,5566,Solite merde. Saprebbero insultare pure Mourin...,#ibrahimovic,2020-02-09 19:35:02+00:00,https://twitter.com/berthayoko
4,5475,âš«ðŸ”µ #InterMilan ðŸ”´âš«\n\nStasera chi ha piÃ¹ chance...,#ibrahimovic,2020-02-09 19:35:03+00:00,https://twitter.com/bwinItalia

In [3]:
milan['tweetDate'] = pd.to_datetime(milan['tweetDate'], format = '%Y-%m-%dT%H:%M:%S', utc = True)

In [4]:
#estraiamo i tweet in cui all'interno del content abbiamo uno di questi hashtags
tweet_ibra = milan[milan['content'].str.contains("#ibrahimovic")]
tweet_ibra1 = milan[milan['content'].str.contains("#Ibrahimovic")]
tweet_ibra2= milan[milan['content'].str.contains("#izback")]
tweet_ibra3= milan[milan['content'].str.contains("#zlatan")]
tweet_ibra4 = milan[milan['content'].str.contains("#IZback")]
tweet_ibra5 = milan[milan['content'].str.contains("#IZBack")]
tweet_ibra6 = milan[milan['content'].str.contains("#IZBACK")]
ibra=tweet_ibra.append([tweet_ibra1,tweet_ibra2,tweet_ibra3,tweet_ibra4,tweet_ibra5,tweet_ibra6])
#eliminiamo i duplicati di quei tweet che potrebbe essere stati estratti due volte se contenevano piÃ¹ di uno degli hashtagas sopra
ibra.drop_duplicates(inplace=True)
ibra.shape

(845, 5)

In [5]:
ibra['tweetDate'] = ibra['tweetDate'] + timedelta(hours = 1)
ibra['orarioTweet'] = ibra['tweetDate'].dt.strftime('%H:%M')
tweetibraminuto = ibra.groupby('orarioTweet').count()
tweetibraminuto.reset_index(inplace = True)
#tweetibraminuto.to_csv('tweetIbraMinuto1.csv')

In [6]:
tweetibraminuto.head()

  orarioTweet  Unnamed: 0  content  query  tweetDate  twitterProfile
0       20:30           2        2      2          2               2
1       20:32           1        1      1          1               1
2       20:34           1        1      1          1               1
3       20:35           6        6      6          6               6
4       20:37           2        2      2          2               2